<authentication mode="Forms">
  <forms defaultUrl="~/" loginUrl="~/views/login.cshtml" name="Bagavathi's weblog" timeout="10080">
    <credentials passwordFormat="SHA1">
      <!-- Password is "demo". Generate your hash password here http://www.stringfunction.com/sha1-hash.html -->
      <user name="jbagavathi" password="d98c6ecb8a7d712c5e2cee4f8f113ae7cbf7490e"/>
    </credentials>
  </forms>
</authentication>